## Sleep Pattern Analysis 
### *Business Problem*
- How can we identify the key factors that affect sleep quality and duration to help people improve their sleep and overall health?
- Healthcare  companies (recommended sleep improvements plans)
- Fitness/wellness apps (eg - Fitbit, WHOOP)
- Insurance Providers (assessing health risk)

### *Project Objective*
*To analyse sleep data to discover patterns and relationships between sleep quality and factors such as scrren time, exercise, caffine intake, stress levels and lifestyle habits.*

### *Project Overview*
This Project aims to perform an end to end data analytics process using the Sleep Patterns Dataset. The key steps include:
- Cleaning and preparing the data
- Performing exploratory data analysis (EDA)
- Identifying significant factors influencing sleep duration and quality
- Generating insights that could support health and wellness recommendations

### *Import the Libraries*

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")
import warnings 
warnings.filterwarnings("ignore")

### *Data Exploration*

In [2]:
df = pd.read_csv("sleep_data.csv")

In [3]:
df.head()

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.0,0.0,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.0,0.0,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.0,0.0,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.530000,1936
3,30,0,4,0.0,0.0,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.0,0.0,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096

In [4]:
df.columns.tolist()

['age',
 'black',
 'case',
 'clerical',
 'construc',
 'educ',
 'earns74',
 'gdhlth',
 'inlf',
 'leis1',
 'leis2',
 'leis3',
 'smsa',
 'lhrwage',
 'lothinc',
 'male',
 'marr',
 'prot',
 'rlxall',
 'selfe',
 'sleep',
 'slpnaps',
 'south',
 'spsepay',
 'spwrk75',
 'totwrk',
 'union',
 'worknrm',
 'workscnd',
 'exper',
 'yngkid',
 'yrsmarr',
 'hrwage',
 'agesq']

In [5]:
df.shape

(706, 34)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 706 entries, 0 to 705
Data columns (total 34 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       706 non-null    int64
 1   black     706 non-null    int64
 2   case      706 non-null    int64
 3   clerical  706 non-null    float64
 4   construc  706 non-null    float64
 5   educ      706 non-null    int64
 6   earns74   706 non-null    int64
 7   gdhlth    706 non-null    int64
 8   inlf      706 non-null    int64
 9   leis1     706 non-null    int64
 10  leis2     706 non-null    int64
 11  leis3     706 non-null    int64
 12  smsa      706 non-null    int64
 13  lhrwage   532 non-null    float64
 14  lothinc   706 non-null    float64
 15  male      706 non-null    int64
 16  marr      706 non-null    int64
 17  prot      706 non-null    int64
 18  rlxall    706 non-null    int64
 19  selfe     706 non-null    int64
 20  sleep     706 non-null    int64
 21  slpnaps   706 non-null    int64
 22  south     706 non-null    int64
 23  spsepay   706 non-null    int64
 24  spwrk75   706 non-null    int64
 25  totwrk    706 non-null    int64
 26  union     706 non-null    int64
 27  worknrm   706 non-null    int64
 28  workscnd  706 non-null    int64
 29  exper     706 non-null    int64
 30  yngkid    706 non-null    int64
 31  yrsmarr   706 non-null    int64
 32  hrwage    532 non-null    float64
 33  agesq     706 non-null    int64
dtypes: float64(5), int64(29)
memory usage: 187.7 KB

In [7]:
df.describe()

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
count,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,...,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,532.000000,706.000000
mean,38.815864,0.049575,353.500000,0.182331,0.030075,12.780453,9767.705382,0.890935,0.753541,4690.723796,...,0.480170,2122.920680,0.218130,2093.252125,29.668555,20.035411,0.128895,11.769122,5.082839,1635.144476
std,11.342637,0.217219,203.948932,0.335413,0.148366,2.784702,9323.588151,0.311942,0.431254,908.049561,...,0.499961,947.470123,0.413269,945.301457,148.834262,12.377520,0.335321,11.591227,3.704385,950.102976
min,23.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1745.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.350000,529.000000
25%,29.000000,0.000000,177.250000,0.000000,0.000000,12.000000,2500.000000,1.000000,1.000000,4109.750000,...,0.000000,1553.500000,0.000000,1538.000000,0.000000,10.000000,0.000000,0.000000,2.890002,841.000000
50%,36.000000,0.000000,353.500000,0.000000,0.000000,12.000000,8250.000000,1.000000,1.000000,4620.000000,...,0.000000,2288.000000,0.000000,2275.000000,0.000000,17.000000,0.000000,9.000000,4.380000,1296.000000
75%,48.000000,0.000000,529.750000,0.182331,0.030075,16.000000,13750.000000,1.000000,1.000000,5203.750000,...,1.000000,2691.750000,0.000000,2635.500000,0.000000,30.000000,0.000000,20.000000,6.210001,2304.000000
max,65.000000,1.000000,706.000000,1.000000,1.000000,17.000000,42500.000000,1.000000,1.000000,7417.000000,...,1.000000,6415.000000,1.000000,6415.000000,1337.000000,55.000000,1.000000,43.000000,35.509990,4225.000000

In [8]:
df.isna().sum()

age           0
black         0
case          0
clerical      0
construc      0
educ          0
earns74       0
gdhlth        0
inlf          0
leis1         0
leis2         0
leis3         0
smsa          0
lhrwage     174
lothinc       0
male          0
marr          0
prot          0
rlxall        0
selfe         0
sleep         0
slpnaps       0
south         0
spsepay       0
spwrk75       0
totwrk        0
union         0
worknrm       0
workscnd      0
exper         0
yngkid        0
yrsmarr       0
hrwage      174
agesq         0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df["age"].nunique()

43

In [11]:
df["age"].value_counts()

age
28    36
32    33
33    31
27    27
26    26
24    26
29    26
44    26
25    25
31    24
35    23
30    22
23    22
39    21
36    20
50    18
34    18
37    18
52    17
40    16
54    16
56    15
47    15
38    14
49    13
45    12
46    12
42    12
51    12
43    11
53    10
48    10
60    10
58     9
59     9
55     9
41     9
62     8
57     8
61     6
64     6
65     3
63     2
Name: count, dtype: int64

In [12]:
df["black"].nunique()

2

In [13]:
df["black"].value_counts()

black
0    671
1     35
Name: count, dtype: int64

In [14]:
df["case"].nunique()

706

In [15]:
df["case"].value_counts()

case
1      1
530    1
466    1
467    1
468    1
      ..
238    1
239    1
240    1
241    1
706    1
Name: count, Length: 706, dtype: int64

In [16]:
df["clerical"].nunique()

3

In [17]:
df["clerical"].value_counts()

clerical
0.000000    435
0.182331    174
1.000000     97
Name: count, dtype: int64

In [18]:
df["construc"].nunique()

3

In [19]:
df["construc"].value_counts()

construc
0.000000    516
0.030075    174
1.000000     16
Name: count, dtype: int64

In [20]:
df["educ"].nunique()

15

In [21]:
df["educ"].value_counts()

educ
12    282
16     96
17     84
14     49
8      38
10     34
13     32
11     31
15     20
9      19
5       8
7       6
6       5
4       1
1       1
Name: count, dtype: int64

In [22]:
df["earns74"].nunique()

19

In [23]:
df["earns74"].value_counts()

earns74
0        110
13750     80
6750      55
8250      50
16250     46
1000      41
9500      40
10500     37
2500      34
4500      33
5500      32
11750     31
18750     30
42500     25
3500      24
21250     15
27500     10
32500      8
23750      5
Name: count, dtype: int64

In [24]:
df["gdhlth"].nunique()

2

In [25]:
df["gdhlth"].value_counts()

gdhlth
1    629
0     77
Name: count, dtype: int64

In [26]:
df["inlf"].nunique()

2

In [27]:
df["inlf"].value_counts()

inlf
1    532
0    174
Name: count, dtype: int64

In [28]:
df["leis1"].nunique()

590

In [29]:
df["leis1"].value_counts()

leis1
5387    3
4904    3
4112    3
4509    3
4594    3
       ..
4429    1
6630    1
5666    1
4382    1
4747    1
Name: count, Length: 590, dtype: int64

In [30]:
df["leis2"].nunique()

601

In [31]:
df["leis2"].value_counts()

leis2
4012    4
4302    4
4690    3
5747    3
3774    3
       ..
4723    1
6520    1
4754    1
3132    1
5119    1
Name: count, Length: 601, dtype: int64

In [32]:
df["leis3"].nunique()

595

In [33]:
df["leis3"].value_counts()

leis3
4432    4
4519    4
3479    3
3739    3
4239    3
       ..
3852    1
3184    1
5100    1
4869    1
5031    1
Name: count, Length: 595, dtype: int64

In [34]:
df["smsa"].nunique()

2

In [35]:
df["smsa"].value_counts()

smsa
0    424
1    282
Name: count, dtype: int64

In [36]:
df["lhrwage"].nunique()

252

In [37]:
df["lhrwage"].value_counts()

lhrwage
1.752672    28
1.530395    22
1.241269    18
0.837247    17
1.061257    13
            ..
1.574847     1
1.169381     1
1.688249     1
1.776646     1
3.139400     1
Name: count, Length: 252, dtype: int64

In [38]:
df["lothinc"].nunique()

73

In [39]:
df["lothinc"].value_counts()

lothinc
0.000000     218
8.517393      32
9.528867      29
7.824446      27
8.922792      21
            ...
9.047939       1
9.998843       1
8.294300       1
10.441470      1
9.615872       1
Name: count, Length: 73, dtype: int64

In [40]:
df["male"].nunique()

2

In [41]:
df["male"].value_counts()

male
1    400
0    306
Name: count, dtype: int64

In [42]:
df["marr"].nunique()

2

In [43]:
df["marr"].value_counts()

marr
1    580
0    126
Name: count, dtype: int64

In [44]:
df["prot"].nunique()

2

In [45]:
df["prot"].value_counts()

prot
1    468
0    238
Name: count, dtype: int64

In [46]:
df["rlxall"].nunique()

511

In [47]:
df["rlxall"].value_counts()

rlxall
3533    5
3270    5
3298    5
3278    4
3730    4
       ..
3115    1
3439    1
3699    1
3433    1
3415    1
Name: count, Length: 511, dtype: int64

In [48]:
df["selfe"].nunique()

2

In [49]:
df["selfe"].value_counts()

selfe
0    613
1     93
Name: count, dtype: int64

In [50]:
df["sleep"].nunique()

449

In [51]:
df["sleep"].value_counts()

sleep
2985    6
3405    6
3308    6
3218    6
3150    6
       ..
3778    1
3825    1
3108    1
3965    1
3510    1
Name: count, Length: 449, dtype: int64

In [52]:
df["slpnaps"].nunique()

490

In [53]:
df["slpnaps"].value_counts()

slpnaps
3390    5
3330    5
3278    5
3650    4
3203    4
       ..
3586    1
3653    1
3433    1
3191    1
3000    1
Name: count, Length: 490, dtype: int64

In [54]:
df["south"].nunique()

2

In [55]:
df["south"].value_counts()

south
0    576
1    130
Name: count, dtype: int64

In [56]:
df["spsepay"].nunique()

109

In [57]:
df["spsepay"].value_counts()

spsepay
0        367
12000     20
6000      16
11000     13
9000      13
        ...
5600       1
10500      1
7950       1
4750       1
17500      1
Name: count, Length: 109, dtype: int64

In [58]:
df["spwrk75"].nunique()

2

In [59]:
df["spwrk75"].value_counts()

spwrk75
0    367
1    339
Name: count, dtype: int64

In [60]:
df["totwrk"].nunique()

476

In [61]:
df["totwrk"].value_counts()

totwrk
0       30
2250     8
2300     7
2100     7
2163     6
        ..
1075     1
2743     1
2592     1
2140     1
1961     1
Name: count, Length: 476, dtype: int64

In [62]:
df["union"].nunique()

2

In [63]:
df["union"].value_counts()

union
0    552
1    154
Name: count, dtype: int64

In [64]:
df["workscnd"].nunique()

37

In [65]:
df["workscnd"].value_counts()

workscnd
0       659
375       3
75        3
210       2
60        2
50        2
1050      2
600       2
630       2
480       2
825       1
1190      1
2         1
63        1
1138      1
40        1
300       1
925       1
450       1
308       1
117       1
1063      1
150       1
238       1
218       1
55        1
900       1
1337      1
1205      1
390       1
875       1
405       1
233       1
38        1
350       1
538       1
83        1
Name: count, dtype: int64

In [66]:
df["exper"].nunique()

53

In [67]:
df["exper"].value_counts()

exper
10    40
14    29
17    28
8     26
11    25
6     25
5     24
7     23
13    23
31    21
18    21
9     20
22    20
12    19
29    19
21    17
34    17
32    16
16    15
2     14
26    14
19    14
15    14
36    14
37    13
23    13
20    13
25    12
30    12
4     11
39    10
1     10
24    10
35     9
38     8
3      8
42     8
33     8
41     8
40     7
27     7
44     7
43     7
28     6
48     5
46     4
45     3
47     3
52     2
0      1
55     1
54     1
49     1
Name: count, dtype: int64

In [68]:
df["yngkid"].nunique()

2

In [69]:
df["yngkid"].value_counts()

yngkid
0    615
1     91
Name: count, dtype: int64

In [70]:
df["yrsmarr"].nunique()

43

In [71]:
df["yrsmarr"].value_counts()

yrsmarr
0     191
4      32
5      29
9      25
7      24
22     20
10     20
2      19
14     18
18     18
6      17
16     17
17     16
8      15
15     15
12     14
27     14
13     13
3      13
19     13
24     12
26     11
23     10
29     10
1      10
30      9
11      9
28      9
25      9
20      8
32      8
35      8
36      7
31      6
38      6
34      6
37      5
39      5
33      5
21      4
42      2
41      2
43      2
Name: count, dtype: int64

In [72]:
df["hrwage"].nunique()

252

In [73]:
df["hrwage"].value_counts()

hrwage
5.770000     28
4.620001     22
3.460001     18
2.309999     17
2.890002     13
             ..
4.830002      1
3.219999      1
5.409999      1
5.910001      1
23.090010     1
Name: count, Length: 252, dtype: int64

In [74]:
df["agesq"].nunique()

43

In [75]:
df["agesq"].value_counts()

agesq
784     36
1024    33
1089    31
729     27
676     26
576     26
841     26
1936    26
625     25
961     24
1225    23
900     22
529     22
1521    21
1296    20
2500    18
1156    18
1369    18
2704    17
1600    16
2916    16
3136    15
2209    15
1444    14
2401    13
2025    12
2116    12
1764    12
2601    12
1849    11
2809    10
2304    10
3600    10
3364     9
3481     9
3025     9
1681     9
3844     8
3249     8
3721     6
4096     6
4225     3
3969     2
Name: count, dtype: int64

### *Data Cleaning*

**Rename all the necessary columns**

In [76]:
df.rename(columns={'case': 'record_id'}, inplace=True)
df.rename(columns={'clerical': 'clerical_worker'}, inplace=True)
df.rename(columns={'construc': 'construction_Worker'}, inplace=True)
df.rename(columns={'educ': 'education'}, inplace=True)
df.rename(columns={'earns74': 'earns_1974'}, inplace=True)
df.rename(columns={'gdhlth': 'good_health'}, inplace=True)
df.rename(columns={'inlf': 'labour_force'}, inplace=True)
df.rename(columns={'leis1': 'effeciency'}, inplace=True)
df.rename(columns={'leis2': 'total_sleep'}, inplace=True)
df.rename(columns={'leis3': 'free_time'}, inplace=True)
df.rename(columns={'smsa': 'smsa_area'}, inplace=True)
df.rename(columns={'lhrwage': 'log_hr_wage'}, inplace=True)
df.rename(columns={'lothinc': 'log_other_income'}, inplace=True)
df.rename(columns={'marr': 'marital_status'}, inplace=True)
df.rename(columns={'prot': 'protestant'}, inplace=True)
df.rename(columns={'rlxall': 'relax_time'}, inplace=True)
df.rename(columns={'selfe': 'self_employed'}, inplace=True)
df.rename(columns={'slpnaps': 'total_sleep_week'}, inplace=True)
df.rename(columns={'spsepay': 'spouse_income'}, inplace=True)
df.rename(columns={'spwrk75': 'spouse_works'}, inplace=True)
df.rename(columns={'totwrk': 'totwrk_hr'}, inplace=True)
df.rename(columns={'union': 'labour_union'}, inplace=True)
df.rename(columns={'worknrm': 'main_job_wrork_time'}, inplace=True)
df.rename(columns={'workscnd': 'Worked_second'}, inplace=True)
df.rename(columns={'exper': 'experience'}, inplace=True)
df.rename(columns={'yngkid': 'young_kid'}, inplace=True)
df.rename(columns={'yrsmarr': 'years_married'}, inplace=True)
df.rename(columns={'hrwage': 'hourly_wage'}, inplace=True)
df.rename(columns={'agesq': 'age_squared'}, inplace=True)

In [77]:
df.shape

(706, 34)

In [78]:
df.columns

Index(['age', 'black', 'record_id', 'clerical_worker', 'construction_Worker',
       'education', 'earns_1974', 'good_health', 'labour_force', 'effeciency',
       'total_sleep', 'free_time', 'smsa_area', 'log_hr_wage',
       'log_other_income', 'male', 'marital_status', 'protestant',
       'relax_time', 'self_employed', 'sleep', 'total_sleep_week', 'south',
       'spouse_income', 'spouse_works', 'totwrk_hr', 'labour_union',
       'main_job_wrork_time', 'Worked_second', 'experience', 'young_kid',
       'years_married', 'hourly_wage', 'age_squared'],
      dtype='object')

**Creating a new column name nap per week in minutes**

In [79]:
df['nap_per_week_hour'] = df['total_sleep_week'] - df['sleep']

In [80]:
df['nap_per_week_hour'].value_counts()

nap_per_week_hour
0      352
60      32
150     23
120     16
90      15
      ...
117      1
555      1
338      1
871      1
445      1
Name: count, Length: 143, dtype: int64

**merging main_job_wrork_time & Worked_second**

In [81]:
df["total_work_time"] = df["main_job_wrork_time"] + df["Worked_second"]

In [82]:
df.shape

(706, 36)

In [ ]:
df.shape

In [86]:
df["effeciency"].value_counts

<bound method IndexOpsMixin.value_counts of 0      3529
1      2140
2      4595
3      3211
4      4052
       ...
701    5069
702    5885
703    4719
704    5149
705    4747
Name: effeciency, Length: 706, dtype: int64>

In [84]:
df["total_sleep"].value_counts

<bound method IndexOpsMixin.value_counts of 0      3479
1      2140
2      4505
3      3211
4      4007
       ...
701    4669
702    5870
703    4719
704    5119
705    4302
Name: total_sleep, Length: 706, dtype: int64>

In [98]:
x = df["effeciency"] - df["total_sleep"] 
x

0       50
1        0
2       90
3        0
4       45
      ...
701    400
702     15
703      0
704     30
705    445
Length: 706, dtype: int64

In [99]:
df["nap_per_week_hour"]

0       50
1        0
2       90
3        0
4       45
      ...
701    400
702     15
703      0
704     30
705    445
Name: nap_per_week_hour, Length: 706, dtype: int64

In [102]:
df["total_sleep"]

0      3479
1      2140
2      4505
3      3211
4      4007
       ...
701    4669
702    5870
703    4719
704    5119
705    4302
Name: total_sleep, Length: 706, dtype: int64

In [106]:
df.rename(columns={'effeciency': 'awake_time'}, inplace=True)

**Droping the colums which is of no use**

In [107]:
df = df.drop(columns=["black"])
df = df.drop(columns=["record_id"])
df = df.drop(columns=["age_squared"])
df = df.drop(columns=["total_sleep"])
df = df.drop(columns=["main_job_wrork_time"])
df = df.drop(columns=["Worked_second"])
df = df.drop(columns=["experience"])
df = df.drop(columns=["log_hr_wage"])
df = df.drop(columns=["log_other_income"])

In [108]:
df.columns.tolist()

['age',
 'clerical_worker',
 'construction_Worker',
 'education',
 'earns_1974',
 'good_health',
 'labour_force',
 'awake_time',
 'free_time',
 'smsa_area',
 'male',
 'marital_status',
 'protestant',
 'relax_time',
 'self_employed',
 'sleep',
 'total_sleep_week',
 'south',
 'spouse_income',
 'spouse_works',
 'totwrk_hr',
 'labour_union',
 'young_kid',
 'years_married',
 'hourly_wage',
 'nap_per_week_hour',
 'total_work_time']

**Treating the wrong data type**

In [109]:
df['clerical_worker'] = df['clerical_worker'].round().astype(int)
df['construction_Worker'] = df['clerical_worker'].round().astype(int)

**Converting the colums with values 0 and 1 to yes and no**

In [110]:
df['good_health'].replace({0: 'No', 1: 'Yes'}, inplace=True)
df['labour_force'].replace({0: 'No', 1: 'Yes'}, inplace=True)
df['smsa_area'].replace({0: 'No', 1: 'Yes'}, inplace=True)
df['male'].replace({0: 'No', 1: 'Yes'}, inplace=True)
df['marital_status'].replace({0: 'No', 1: 'Yes'}, inplace=True)
df['protestant'].replace({0: 'No', 1: 'Yes'}, inplace=True)
df['self_employed'].replace({0: 'No', 1: 'Yes'}, inplace=True)
df['south'].replace({0: 'No', 1: 'Yes'}, inplace=True)
df['spouse_works'].replace({0: 'No', 1: 'Yes'}, inplace=True)
df['labour_union'].replace({0: 'No', 1: 'Yes'}, inplace=True)
df['young_kid'].replace({0: 'No', 1: 'Yes'}, inplace=True) 
df['clerical_worker'].replace({0: 'No', 1: 'Yes'}, inplace=True) 
df['construction_Worker'].replace({0: 'No', 1: 'Yes'}, inplace=True)

**Handle the missing values**

In [111]:
df.isnull().sum()

age                      0
clerical_worker          0
construction_Worker      0
education                0
earns_1974               0
good_health              0
labour_force             0
awake_time               0
free_time                0
smsa_area                0
male                     0
marital_status           0
protestant               0
relax_time               0
self_employed            0
sleep                    0
total_sleep_week         0
south                    0
spouse_income            0
spouse_works             0
totwrk_hr                0
labour_union             0
young_kid                0
years_married            0
hourly_wage            174
nap_per_week_hour        0
total_work_time          0
dtype: int64

In [112]:
df['hourly_wage'].skew()

3.363292037418263

In [113]:
df['hourly_wage'].fillna(df['hourly_wage'].median(), inplace=True)

In [114]:
df.isnull().sum()

age                    0
clerical_worker        0
construction_Worker    0
education              0
earns_1974             0
good_health            0
labour_force           0
awake_time             0
free_time              0
smsa_area              0
male                   0
marital_status         0
protestant             0
relax_time             0
self_employed          0
sleep                  0
total_sleep_week       0
south                  0
spouse_income          0
spouse_works           0
totwrk_hr              0
labour_union           0
young_kid              0
years_married          0
hourly_wage            0
nap_per_week_hour      0
total_work_time        0
dtype: int64

**Converting minutes to hour**

In [115]:
df['free_time'] = df['free_time'] / 60 
df['relax_time'] = df['relax_time'] / 60 
df['sleep'] = df['sleep'] / 60 
df['total_sleep_week'] = df['total_sleep_week'] / 60 
df['totwrk_hr'] = df['totwrk_hr'] / 60
df['hourly_wage'] = df['hourly_wage'] / 60
df['nap_per_week_hour'] = df['nap_per_week_hour'] / 60
df['total_work_time'] = df['total_work_time'] / 60

In [116]:
# Exporting cleaned data for backup
df.to_csv('cleaned_sleep_data.csv', index=False)